@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Roboto:wght@100;300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  background-color: #fcf4ff;
}

.App {
  display: flex;
  flex-direction: column;
  width: 700px;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  margin: 50px auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #2e2e2e;
  color: white;
  margin-bottom: 50px;
}

.nav-dark {
  background-color: rgb(240, 240, 240);
  color: #2e2e2e;
}

.app-light {
  background-color: #fff;
}

.app-dark {
  background-color: #171717;
  color: #fff;
  border: 1px solid #ffffff;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  user-select: none;
}

.logo span {
  padding-right: 5px;
}

.name-logo {
  font-size: 30px;
  font-weight: 700;
}

input:focus {
  outline: none;
}

.search-input {
  background-color: #f5f5f5;
  border: none;
  height: 60px;
  width: 585px;
  padding-left: 15px;
  margin-top: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-btn {
  color: rgb(99, 55, 109);
  background-color: #f5f5f5;
  border: none;
  height: 60px;
  position: relative;
  top: -1px;
  margin-bottom: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-dark {
  color: #fff;
  background-color: #4b4b4b;
}

form {
  margin: auto;
  text-align: center;
}

.word-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.word-header {
  font-weight: 700;
  font-size: 45px;
  text-transform: capitalize;
}

.word-phonetic {
  color: #db66e4;
}

.play-btn {
  color: #ccafff;
  background: none;
  border: none;
}

.play-btn:hover {
  color: #b88fff;
}

.word-content {
  padding: 15px;
}

.word-synonyms {
  color: #d41fe1;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 5px;
}

.word-of-day {
  font-family: 'Roboto', sans-serif;
  height: 180px;
  width: 600px;
  margin: auto;
  border: 1px black solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wod-dark {
  border: 1px white solid;
}

.toggle {
  border: none;
  border-radius: 50%;
  height: 39px;
  position: relative;
  top: 5px;
}

.toggle-light {
  color: #000;
  background-color: #fff;
}

.toggle-light:hover {
  color: #9a69d2;
}

.toggle-dark {
  color: #fff;
  background-color: #000;
}

.toggle-dark:hover {
  color: #eef58a;
}
